body{
	color:#4A45C7;
	font-family: 'Lobster', cursive;
	text-align: center;
}

p{
	font-family: arial;
}

.je-gridcell{
	height: 320px;
	width: auto;
	overflow: hidden;
}

.bg-banner{
	background: url(images/banner.jpg) center center no-repeat;
	background-size: cover;
}
